# Игнорируем библиотеки виртуальной среды
admin/venv/
bot/venv/

# Ингнорируем настройки
settings.py

# Ингнорируем кэш python
__pycache__
# admin/KIPY/__pycache__
# admin/KIPY_ADMIN/__pycache__
# bot/__pycache__

# Ингнорируем логи
*.log

# Ингнорируем сертификаты
*.pem

workspace.xml