body {
    margin: 0 auto;
}

button {
    background-color: white;
}

.container {
    width: 800px;
    margin: 50px auto;
}
.toggle {
     display: flex;
     float: right;
}

.first{
    margin-top: 111px;
}

.line_input {
    margin: 20px 0px;
    display: block;
    width: 100%;
    border: 6px solid black;
    border-radius: 75px; 
    padding: 19px 42px;
    font-size: 48px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.first_input_block {
    margin-top: 86px;
}

.input_block {
    margin-top: 100px;
}

input::placeholder {
    color: black;
}

.img-2 {
    display: flex;
    float: left;
    position: relative;
    right: 60px;
}

.img-3 {
    display: flex;
    margin-top: 190px;
    float: right;
}

@media (max-width: 500px) {
    option {
        font-size: 15px;
    }
}