body {
    margin: 0 auto;
}

button {
    background-color: white;
}

.container {
    width: 350px;
    margin: 0px auto;
    margin-top: 10px;
    text-align: center;
}

.first{
    margin-top: 10%;
}

input {
    margin: 2% 0px;
    display: block;
    width: 100%;
    border: 4px solid black;
    border-radius: 75px; 
    padding: 15px 32px;
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.mySelect {
    margin: 2% 0px;
    display: block;
    width: 100%;
    border: 4px solid black;
    border-radius: 75px; 
    padding: 15px 32px;
    font-size: 25px;
    color: #787878;
    font-family: Arial, Helvetica, sans-serif;
    appearance: none;
}

option {
    font-size: 20px;
    color: black;
}

.img-1 {
    display: flex;
    margin-top: 15px;
    width: 250px;
}

.img-2 {
    display: flex;
    float: left;
    position: relative;
    right: 15px;
    width: 130px;
}

.img-3 {
    margin-top: 20%;
    display: flex;
    float: right;
    width: 200px;
}