*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #8D8D8D;
  border-radius: 16px;
  width: 80px;
  height: 34px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  border: 2px solid #000000;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #0E1743 0%, #0E1743 100%);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #0E1743 0%, #0E1743 100%);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #00FF0A;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 48px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}