{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/reset.css' %}?v=e91bbc5968ddb1cfcb958a98" type="text/css" rel="stylesheet">
	<link href="{% static 'css/instruction.css' %}?v=e91bbc5968ddb1cfcb958a98" type="text/css" rel="stylesheet">
    <link href="{% static 'css/switch.css' %}?v=e91bbc5968ddb1cfcb958a98" type="text/css" rel="stylesheet">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="line_input first_input_block">
            Получать уведомления
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
            </label>
        </div>
        <div class="line_input input_block">
            Работа
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
            </label>
        </div>
        <div class="line_input">
            Стажировка
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
            </label>
        </div>
        <div class="line_input">
            Практика
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
            </label>
        </div>
        <div class="line_input input_block">
            Волонтерские
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
            </label>
        </div>
        <div class="line_input">
            Комерческие
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
            </label>
        </div>
        <div class="line_input input_block">
            Волонтерские
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
            </label>
        </div>
        <div class="line_input">
            Комерческие
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox">
                <div class="toggle-switch"></div>
            </label>
        </div>
        <div class="imgs">
            <img class="img-2" src="img/Logo.svg" alt="">
            <img class="img-3" src="img/SP Hunter.svg" alt="">
        </div>
    </div>
</body>
</html>