{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/reset.css' %}?v=asf4444" type="text/css" rel="stylesheet">
    <link href="{% static 'css/reg.css' %}?v=asf55783" type="text/css" rel="stylesheet">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title>Обо мне</title>
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.telegram_id }}
            {{ form.sername }}
            {{ form.gender }}
            {{ form.phone }}
            {{ form.birthday }}
            {{ form.mail }}
            <button id='button'><img class="img-1" src="{% static 'img/LogIn button.svg' %}" alt=""></button>
        </form>
        <div class="imgs">
            <img class="img-2" src="{% static 'img/Logo.svg' %}" alt="img_1">
            <img class="img-3" src="{% static 'img/SP Hunter.svg'%}" alt="img_2">
        </div>
    </div>
    <script>
		let tg = window.Telegram.WebApp;
        const user_id = tg.initDataUnsafe.user.id
		tg.expand(); //расширяем на все окн
        document.getElementById('telegram_id').value=user_id
        tg.sendData(user_id);
        //при клике на основную кнопку отправляем данные в строковом виде
    </script>
</body>
</html>